[foreach-vm]
%{~ for i in foreach-vm ~}

${i["name"]}   ansible_host=${i["network_interface"][0]["nat_ip_address"]} 
%{~ endfor ~}


[count-vm]
%{~ for i in count-vm ~}

${i["name"]}   ansible_host=${i["network_interface"][0]["nat_ip_address"]} 
%{~ endfor ~}


[mount-disk-vm]
${mount-disk-vm["name"]}   ansible_host=${mount-disk-vm["network_interface"][0]["nat_ip_address"]} 
